/* ================================================================ THEMES ================================================================ */
/*                                                                  BRIGHT                                                                  */
:root {
    /* background colors, 60% */
    --primary: rgba(255, 255, 255, 1);          /* WHITE */
    /* font color, 30% */
    --secondary: rgba(0, 0, 0, 1);              /* BLACK */
    /* shades and borders */
    --shade-light: rgba(118, 123, 145, 1);      /*  */
    --shade-dark: rgba(30, 30, 36, 1);          /*  */
    /* gradient background color */
    --shade-one: rgba(178, 178, 178, 0.1);      /*  */
    /* clickable or highlights, 10% */
    --accent: rgba(254, 101, 79, 1);            /* TOMATO */
}
/*                                                                   DARK                                                                   */
:root:has(#theme:checked) {
    /* background colors, 60% */
    --primary: rgba(0, 0, 0, 1);                /* BLACK */
    /* font color, 30% */
    --secondary: rgba(255, 255, 255, 1);        /* WHITE */
    /* shades and borders */
    --shade-light: rgba(30, 30, 36, 1);         /*  */
    --shade-dark: rgba(118, 123, 145, 1);       /*  */
    /* gradient background color */
    --shade-one: rgba(178, 178, 178, 0.05);     /*  */
    /* clickable or highlights, 10% */
    --accent: rgba(255, 64, 35, 1);             /* ORANGEY RED */
    & .photo.svg {
        /* SVG IMAGES */
        filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(279deg) brightness(103%) contrast(105%);     /* WHITE */
    }
}

}
/*                                                                   FONT                                                                   */
@font-face {
    color: var(--secondary);
    font-family: 'Courier New';
    src: url(styles/cour.ttf);
}

* {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--secondary);
}
/*                                                                BACKGROUND                                                                */
.main {
    background-color: var(--primary);
    opacity: 0.8;
    background-image: conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg);
    background-position: 0 0, 2.5rem 4.25rem, 0 0, 2.5rem 4.25rem, 2.5rem 0, 0 4.25rem;
    background-size: 5rem 8.5rem;
}

/* 

    SELECTOR LISTS
class       |   element
.article    |   article
.button     |   button
.checkbox   |   input checkbox
.container  |   div
.disabled   |   a
.down       |   section (any)
.fixed      |   article
.footer     |   div
.header     |   h1
.label      |   label
.lcontent   |   section
.left       |   section (any)
.link       |   a
.main       |   body
.menu       |   div
.navigation |   div
.no-pad     |   section
.ordered    |   ol
.photo      |   img
.rcontent   |   section
.right      |   section (any)
.section    |   section
.slider     |   article
.sub        |   p
.subtitle   |   h3
.table      |   table
.text       |   p
.title      |   h2
.top        |   section (any)
.twocol     |   article
.unordered  |   ul

id          |   element
#brand      |   a
#menu       |   button

*/

/* [GOAL] Text sizes get smaller */
/* ================================================================= TEXT ================================================================= */
/*                                                                  HEADER                                                                  */
/*                                                                  for h1                                                                  */
.header {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
/*                                                                  TITLE                                                                   */
/*                                                                  for h2                                                                  */
.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
/*                                                                 SUBTITLE                                                                 */
/*                                                                  for h3                                                                  */
.subtitle {
    font-size: 2rem;
    margin: 0;
}
/*                                                                   TEXT                                                                   */
/*                                                                  for p                                                                   */
.text {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
/*                                                                  SUBTEXT                                                                 */
/*                                                                 for p.sub                                                                */

    &.sub {
        font-size: 1rem;
        font-style: italic;
        font-variant: small-caps;
        text-align: justify;
        text-transform: lowercase;
    }
}
/*                                                                  LINKS                                                                   */
/*                                                                  for a                                                                   */
.link:hover {
    color: var(--accent);
    
    & strong, b {
        color: var(--accent);
        font-weight: normal;
    }

    & em, i {
        color: var(--accent);
        font-style: normal;
    }

    & .photo {
        /* ACCENT [ORANGEY RED] */
        filter: invert(40%) sepia(63%) saturate(5412%) hue-rotate(346deg) brightness(112%) contrast(110%) !important;
    }
}
.link.disabled {
    pointer-events: none;
    cursor: default;
}

/* ================================================================ OTHERS ================================================================ */
/*                                                                  IMAGES                                                                  */
/*                                                                  for img                                                                 */
.photo {
    height: auto;
    max-width: 100%;
}
/*                                                                  TABLES                                                                  */
/*                                                                 for table                                                                */
.table {
    text-align: justify;
}
/*                                                            NUMBERS AND BULLETS                                                           */
/*                                                               for ol and ul                                                              */
.ordered {
    text-align: justify;
}
.unordered {
    text-align: justify;
}
/*                                                                  BUTTONS                                                                 */
/*                                                                for button                                                                */
.button {
    text-align: justify;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*                                                         for input checkbox, label                                                        */
.checkbox {
    display: none;

    & + .label {
        background-image: url(images/bright.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        aspect-ratio: 1 / 1;

        &:hover {
            /* ACCENT [TOMATO] */
            filter: invert(52%) sepia(34%) saturate(4952%) hue-rotate(333deg) brightness(105%) contrast(101%);
        }
    }

    &:checked + .label {
        background-image: url(images/dark.svg);
        /* SECONDARY [WHITE] */
        filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(279deg) brightness(103%) contrast(105%);

        &:hover {
            /* ACCENT [ORANGEY RED] */
            filter: invert(40%) sepia(63%) saturate(5412%) hue-rotate(346deg) brightness(112%) contrast(110%);
        }
    }
}
/* ============================================================== CONTAINERS ============================================================== */
/*                                                              PAGE CONTAINER                                                              */
/*                                                    for body, div.menu, article, footer                                                   */
.main {
    display: grid;
    margin: 0;
    grid-template-areas:
        "header"
        "article"
        "footer";
    
    & > .menu {
        border: 1px solid var(--shade-dark);
        padding: 1rem;
        display: grid;
        grid-area: "header";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        position: sticky;
        top: 0;
        background-color: var(--primary);
    }

    & .article {
        display: grid;
        grid-area: "article";
    }

    & > .footer {
        grid-area: "footer";
    }
}
/*                                                                 MENU BAR                                                                 */
/*                                     for a#brand, div.navigation, input checkbox + label, button#menu                                     */
.menu > a#brand {
    grid-area: span 1 / span 2;
}
.menu > .navigation {
    display: flex;
    grid-area: span 1 / span 5;
    justify-content: space-between;
    width: 100%;
}
.checkbox + .label {
    grid-area: span 1 / span 1;
    justify-self: end;
}
.menu > #menu {
        display: none;
    }
/*                                                              NAVIGATION BAR                                                              */
/*                                                            for .navigation > a                                                           */
.navigation > .link {
    padding: 0% 0% 0% 6%;
    border-left: 1px solid var(--shade-dark);
    &:first-child {
        border-left: none;
    }
}
/*                                                        TWO COLUMN ARTICLE CONTENTS                                                       */
/*                                                          for article, h1, section                                                        */
.twocol {
    grid-template-areas:
        "title title"
        "lcontent rcontent";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;

    & > .header {
        grid-area: title;
    }

    & > .lcontent {
        grid-area: lcontent;
    }

    & > .rcontent {
        grid-area: rcontent;
    }
}

/*  */
.left {
    justify-self: left !important;
}
.right {
    justify-self: right !important;
}
.top {
    align-self: start;
}
.down {
    align-self: end;
}

/*  */
/* [GOAL] Responsive Path */
/* [GOAL] Animate each individual letter with a unique path */
.animation {
    width: fit-content;
    justify-self: center;

    & > #header-anim-one {
        animation: follow 1s linear infinite forwards alternate-reverse paused;
        offset-anchor: 20px 20px;
        offset-path: path("M00,00 Q20,00,20,20");
        display: inline-block;
        offset-rotate: -15deg;
    }

    &:hover > #header-anim-one {
        animation-play-state: running;
    }
    
    & > #header-anim-two {
        animation: follow 0.75s linear forwards infinite alternate paused;
        offset-anchor: 00px 30px;
        offset-path: path("M00,00 L00,30");
        display: inline-block;
        offset-rotate: 0deg;
    }

    &:hover > #header-anim-two {
        animation-play-state: running;
    }
    
    & > #header-anim-three {
        animation: follow 1.5s ease-out forwards infinite alternate paused;
        offset-anchor: 30px 30px;
        offset-path: path("M00,00 C5,00 65,15 30,30");
        display: inline-block;
        offset-rotate: 5deg;
    }

    &:hover > #header-anim-three {
        animation-play-state: running;
    }

    & > #header-anim-four {
        animation: follow 1.5s ease-out forwards infinite alternate paused;
        offset-anchor: -30px 30px;
        offset-path: path("M00,00 C-5,00 -65,15 -30,30");
        display: inline-block;
        offset-rotate: -10deg;
    }

    &:hover > #header-anim-four {
        animation-play-state: running;
    }

    & > #header-anim-five {
        animation: continue 0.5s linear forwards infinite paused;
        offset-anchor: 05px 00px;
        offset-path: path("M 5,0 A 5,5 0 1,1 5,10 A 5,5 0 1,1 5,0");
        display: inline-block;
        offset-rotate: 5deg;
    }

    &:hover > #header-anim-five {
        animation-play-state: running;
    }

    & > #header-anim-six {
        animation: follow 2s linear forwards infinite alternate paused;
        offset-anchor: 00px 20px;
        offset-path: path("M00,00 L30,5 L-30,10 L30,15 L00,20");
        display: inline-block;
        offset-rotate: 0deg;
    }

    &:hover > #header-anim-six {
        animation-play-state: running;
    }

    & > #header-anim-seven {
        animation: jump 1.5s linear infinite paused;
        display: inline-block;
    }

    &:hover > #header-anim-seven {
        animation-play-state: running;
    }

    & > #header-anim-eight {
        animation: continue 1s cubic-bezier(.65,.11,.66,.15) forwards infinite alternate paused;
        offset-anchor: -20px -60px;
        offset-path: path("M00,00 C00,10 -50,00 -20,-60");
        display: inline-block;
        offset-rotate: -5deg;
    }

    &:hover > #header-anim-eight {
        animation-play-state: running;
    }

    & > #header-anim-nine {
        animation: continue 1s linear forwards infinite alternate paused;
        offset-anchor: 00px 00px;
        offset-path: path("M0,0 L40,10 L-15,-25 L-5,10 L25,-40 L0,0");
        display: inline-block;
        offset-rotate: 1deg;
    }

    &:hover > #header-anim-nine {
        animation-play-state: running;
    }
}

@keyframes jump {
    0% {transform: translateY(0em);}
    5% {transform: translateY(0.2em);}
    40% {transform: translateY(-0.4em);}
    65% {transform: translateY(-0.5em);}
    90% {transform: translateY(0em);}
}

@keyframes continue {
    0% {offset-distance: 100%;}
    100% {offset-distance: 0%;}
}

@keyframes follow {
    0% {offset-distance: 100%;}
    50% {offset-distance: 0%;}
    100% {offset-distance: 100%;}
}

/*                                                              SUB CONTAINERS                                                              */
/*                                                             for div, section                                                             */

.container {
    gap: 1rem;
}
.section {
    gap: 1rem;
    padding: 3%;

    &.no-pad {
        padding: 0;
    }
}
/* =============================================================== REACTIVE =============================================================== */
/* designs per sizes [PC, Tablet, Phone] */
/* scaling animations */

/* PHONE */
/*  Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) and (max-width: 767px) {
    
/* ============================================================== CONTAINERS ============================================================== */
/*                                                              PAGE CONTAINER                                                              */
/*                                                               for div.menu                                                               */
    .main > .menu {
        display: grid;
        grid-area: "header";
        grid-template-columns: 1fr 1fr 1fr auto auto;
    }
/*                                                        TWO COLUMN ARTICLE CONTENTS                                                       */
/*                                                                for article                                                               */
    .twocol {
        display: grid;
        grid-area: "article";
        grid-template-areas:
            "title"
            "lcontent"
            "rcontent";
        grid-template-columns: 1fr;
        width: 100%;
    }
/*                                                                 MENU BAR                                                                 */
/*                                             for a#brand, input checkbox + label, button#menu                                             */
    .menu > a#brand {
        grid-area: span 1 / span 3;
    }
    .menu > .navigation {
        display: none;
    }
    .checkbox + .label {
        grid-area: span 1 / span 1;
        justify-self: end;
    }
    .menu > #menu {
        display: inline-block;
        grid-area: span 1 / span 1;
        justify-self: end;

        & > svg {
            max-width: 2rem;
        }
    }
/*                                                          SLIDER ARTICLE CONTENTS                                                         */
/*                                                           for article, section                                                           */
    .fixed {
        grid-template-areas: "buttonl content buttonr";
    }
    .slider {
        overflow-x: scroll;
        grid-auto-flow: column;
        grid-auto-columns: 100%;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;

        & .section {
            scroll-snap-align: start;
        }

        &::scroll-button(right) {
            grid-area: buttonr;
            content: ">";
        }
        &::scroll-button(left) {
            grid-area: buttonl;
            content: "<";
        }
        &::scroll-button(right), &::scroll-button(left) {
            background: 0%;
            font-size: 5rem;
            color: var(--secondary);
            cursor: pointer;
            border: none;
        }
        &::scroll-button(right):disabled, &::scroll-button(left):disabled {
            cursor: default;
            color: var(--shade-light);
        }
        &::scroll-button(right):active, &::scroll-button(left):active {
            cursor: default;
            color: var(--accent);
        }
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {

/*                                                          SLIDER ARTICLE CONTENTS                                                         */
/*                                                           for article, section                                                           */
    .fixed {
        grid-template-areas: "buttonl content buttonr";
    }
    .slider {
        overflow-x: scroll;
        grid-auto-flow: column;
        grid-auto-columns: 100%;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;

        & .section {
            scroll-snap-align: start;
        }

        &::scroll-button(right) {
            grid-area: buttonr;
            content: ">";
        }
        &::scroll-button(left) {
            grid-area: buttonl;
            content: "<";
        }
        &::scroll-button(right), &::scroll-button(left) {
            background: 0%;
            font-size: 10rem;
            color: var(--secondary);
            cursor: pointer;
            border: none;
        }
        &::scroll-button(right):disabled, &::scroll-button(left):disabled {
            cursor: default;
            color: var(--shade-light);
        }
        &::scroll-button(right):active, &::scroll-button(left):active {
            cursor: default;
            color: var(--accent);
        }
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
