/* ============================================================== CONTAINERS ============================================================== */
/*                                                              PAGE CONTAINER                                                              */
/*                                                                 for body                                                                 */
/*
    Create a grid template for the body separated into the header (menu bar), articles (article), and a footer (footer)
    Create a grid template for the menu bar that is permanently placed on top
*/
.main {
    display: grid;
    grid-template-areas:
        "header"
        "article"
        "footer";
    margin: 0;
    overflow-x: clip;
    overflow-y: visible;
    
    /*                                                          for div (menu bar)                                                          */
    & > .menu {
        align-items: center;
        background-color: var(--primary);
        border: 1px solid var(--shade-dark);
        display: grid;
        grid-area: "header";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin-bottom: 1.5rem;
        padding: 1rem;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    /*                                                              for article                                                             */
    & .article {
        display: grid;
        grid-area: "article";
    }

    /*                                                           for div (footer)                                                           */
    & > .footer {
        grid-area: "footer";
    }
}
/*                                                              SUB CONTAINERS                                                              */
/*
    Sets the native measurements of the sub containers
    Added an option to remove their padding
*/
/*                                                                  for div                                                                 */
.container {
    gap: 1rem;
    
    /*                                                            remove padding                                                            */
    &.no-pad {
        padding: 0;
    }
}
/*                                                                for section                                                               */
.section {
    gap: 1rem;
    padding: 3%;

    /*                                                            remove padding                                                            */
    &.no-pad {
        padding: 0;
    }
}
/*                                                                 MENU BAR                                                                 */
/*                                                                  for div                                                                 */
/*
    Creates a grid template for the menu bar
    Creates a grid template for the navigation links
    Adds borders in between each navigation link
    Created the theme button which changes its image and the website's theme when clicked
    The theme button is reactive when the cursor hovers over it or when it is clicked
    Removes the menu button that appears when the screen size changes (reactive.css)
*/
.menu {

    /*                                                           for link (brand)                                                           */
    & > #brand {
        grid-area: span 1 / span 2;
    }

    /*                                                         for div (navigation)                                                         */
    & > .navigation {
        display: flex;
        grid-area: span 1 / span 5;
        justify-content: space-between;
        width: 100%;

        /*                                                            add borders                                                           */
        & > .link:not(:first-child) {
            border-left: 1px solid var(--shade-dark);
            padding: 0% 0% 0% 6%;
        }
    }

    /*                                                      for input checkbox (theme)                                                      */
    & > .theme {
        aspect-ratio: 1 / 1;
        background-repeat: no-repeat;
        background-size: contain;
        grid-area: span 1 / span 1;
        justify-self: end;
        width: 1.5rem;
        
        & > .checkbox {
            display: none;
        }
        /*                                                          when unchecked                                                          */
        &:has(.checkbox:not(:checked)) {
            background-image: url(../images/bright.svg);
        }

        /*                                                           when checked                                                           */
        &:has(.checkbox:checked) {
            background-image: url(../images/dark.svg);
        }
    }

    /*                                                       for input checkbox (menu)                                                      */
    & > .menu {
        display: none;
    }
}
/*                                                        TWO COLUMN ARTICLE CONTENTS                                                       */
/*                                                           for article (twocol)                                                           */
/*  
    Creates a grid template for an article designed to be separated into two columns
*/
.twocol {
    align-items: center;
    grid-template-areas:
        "title title"
        "lcontent rcontent";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;

    /*                                                            for h1 (header)                                                           */
    & > .header {
        grid-area: title;
    }

    /*                                                          for section (left)                                                          */
    & > .lcontent {
        grid-area: lcontent;
    }

    /*                                                          for section (right)                                                         */
    & > .rcontent {
        grid-area: rcontent;
    }
}
/*                                                                  FOOTER                                                                  */
/*                                                                  for div                                                                 */
/*
    Creates a grid template for the footer
    Aligns all elements accordingly, with a centered title, added padding for all containers and added borders between each container
    Centers the contents of the brand container
    Creates a grid template for each container
    Made a custom design for the button
    Creates a grid template for the socials container in the newsletter
*/
.footer {
    background-color: var(--primary);
    border-top: 2px solid var(--accent);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    & .subtitle {
        justify-self: center;
    }

    & > .container {
        align-content: start;
        height: 100%;
        padding: 0% 5%;

        &:not(:nth-child(4n-3)) {
            position: relative;
            
            &::before {
                background: linear-gradient(
                    to bottom,
                    transparent 0%,
                    var(--accent) 20%,
                    var(--accent) 80%,
                    transparent 100%
                );
                content: "";
                height: 90%;
                position: absolute;
                top: 5%;
                width: 1px;
            }
        }
    }

    /*                                                                 BRAND                                                                */
    /*                                                                for div                                                               */
    & > .brand {
        align-content: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

        & .container {
            text-align: center;
        }
    }

    /*                                                       NAVIGATE AND QUICK LINKS                                                       */
    /*                                                                for div                                                               */
    & > .navigation, .quick-links {
        display: grid;
        grid-template-columns: 1fr;
    }

    /*                                                                SOCIALS                                                               */
    /*                                                                for div                                                               */
    & > .socials {
        display: grid;
        grid-area: span 2 / span 1;
        grid-template-columns: 1fr;
    }
    
    /*                                                              NEWSLETTER                                                              */
    /*                                                                for div                                                               */
    & > .newsletter {
        display: grid;
        grid-area: span 1 / span 3;
        grid-template-areas: "label" "quick-links";

        & > .form {
            display: grid;
            grid-area: label;
            grid-template-areas: "title title title title title title title title title title title" ". . . . . . . . . . .";
            height: 40%;
            
            & > .subtitle {
                grid-area: title;
            }
            
            & > .input-text {
                grid-area: span 1 / span 9;
            }

            & > .button {
                border: 2px solid var(--accent);

                &:hover {
                    background-color: var(--accent);
                    border: 2px solid var(--secondary);

                    > .text {
                        color: var(--primary);
                        font-weight: bold;
                    }
                }
            }
        }
    /*                                                                SOCIALS                                                               */
    /*                                                                for div                                                               */
        & > .socials {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & > .link {
                display: grid;
                grid-template-areas:    "image title title title title title title title title title title"
                                        "content content content content content content content content content content content";

                & > .photo {
                    grid-area: image;
                }

                & > .subtitle {
                    grid-area: title;
                    justify-self: left;
                    padding-left: 5%;
                }

                & > .text {
                    grid-area: content;
                }
            }
        }
    }
}
/*                                                              LINKEDIN BADGE                                                              */
/*                                                                  for div                                                                 */
/*  
    Aligns the badge
    Hides the smaller one
*/
.linked-in-large {
    justify-self: center;
}
.linked-in-small {
    display: none;
    justify-self: center;
}
/*                                                               SOCIAL MEDIA                                                               */
/*                                                            for div, link, img                                                            */
/*  
    Creates a template for all the socials container
*/
.socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;

    & > .link > .photo {
        width: 100%;
    }
}