/* ================================================================= ITEMS ================================================================ */
/*                                                                  LINKS                                                                   */
/*                                                                  for a                                                                   */
/*  
    Changes the colors and contents of the link contents based on the theme when interacted with
    Creates a disabled option
*/
.link {
    font-size: 1em !important;

    &:hover {
        color: var(--accent);
        
        & .header, .title, .subtitle, .text, .subtext {
            color: var(--accent);
        }

        & strong, b {
            color: var(--accent);
            font-weight: normal;
        }

        & em, i {
            color: var(--accent);
            font-style: normal;
        }

        & .photo {
            /* ACCENT [ORANGEY RED] */
            filter: invert(40%) sepia(63%) saturate(5412%) hue-rotate(346deg) brightness(112%) contrast(110%) !important;
        }
    }

    &:active {
        filter: brightness(50%);     /* WHITE */
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
    }
}
/*                                                                  IMAGES                                                                  */
/*                                                                  for img                                                                 */
/*  
    Sets the standard height and width of an image
*/
.photo {
    height: auto;
    max-width: 100%;
}
/*                                                                  TABLES                                                                  */
/*                                                                 for table                                                                */
/*  
    Sets the alignment of the table's contents
*/
.table {
    text-align: justify;
}
/*                                                            NUMBERS AND BULLETS                                                           */
/*  
    Sets the alignment of the list's contents
*/
/*                                                             for ordered list                                                             */
.ordered {
    text-align: justify;
}
/*                                                            for unordered list                                                            */
.unordered {
    text-align: justify;
}
/*                                                                  BUTTONS                                                                 */
/*                                                                for button                                                                */
/*  
    Removes the standard design for the button in order to use images instead
    Changes the opacity when clicked to make it responsive
*/
.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: justify;

    &:active {
        opacity: 50%;
    }
}
/*                                                                   INPUT                                                                  */
/*  
    Input should always be inside its label
*/
/*                                                            for input-checkbox                                                            */
/*  
    Sets the design of the checkbox in accordance to the theme
    Removes the appearance of the checkbox and returns it when it is checked
    Added transition animation when the check mark appears or disappears
    The checkbox is also responsive to hovering and clicking
*/
.label {
    & > .checkbox {
        aspect-ratio: 1 / 1;
        background-image: url(../images/square.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 1.5rem;
        appearance: none;

        /*                                                            check image                                                           */
        &::before {
            background-image: url(../images/check-square-fill.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            height: 70%;
            left: 15%;
            opacity: 0;
            position: absolute;
            top: 15%;
            transition: opacity 0.5s ease-in-out;
            width: 70%;
        }

        &:checked::before {
            opacity: 1;
        }
    }

    /*                                                             when hovered                                                             */
    &:hover {
        opacity: 80%;
    }

    /*                                                             when clicked                                                             */
    &:active {
        opacity: 50%;
    }
}
/*                                                           for input-text label                                                           */
/*  
    Sets the design of the text type input in accordance to the theme
*/
.input-text {
    background-color: var(--accent);

    &::placeholder {
        color: var(--secondary);
    }
}