/* 

    SELECTOR LISTS
class               |   element
.article            |   article
.badge-base         |   div (LinkedIn)
.brand              |   div
.button             |   button
.checkbox           |   input checkbox
.container          |   div
.disabled           |   clickable element
.down               |   section (any)
.filter-a           |   img / label
.filter-s           |   img / label
.fixed              |   article
.footer             |   div
.form               |   div
.header             |   h1
.input-text         |   input text
.label              |   label
.lcontent           |   section
.left               |   section (any)
.LI-profile-badge   |   div (LinkedIn)
.link               |   a
.main               |   body
.menu               |   div
.navigation         |   div
.newsletter         |   div
.no-pad             |   section
.no-text            |   any.selected
.ordered            |   ol
.photo              |   img
.quick-links        |   div
.rcontent           |   section
.right              |   section (any)
.section            |   section
.selected           |   text
.slider             |   article
.socials            |   div
.sub                |   p
.subtitle           |   h3
.table              |   table
.text               |   p
.theme              |   label for input checkbox
.title              |   h2
.top                |   section (any)
.twocol             |   article
.unordered          |   ul

id                  |   element
#brand              |   a
#menu               |   input checkbox
#nav                |   input checkbox
#theme              |   input checkbox

*/
/* ================================================================ THEMES ================================================================ */
/*
    The list of variables for colors used in the website
    They are categorized as:
        accent - used only on 10% of the website, used to highlight important elements
        primary - used 60% of the time, used as a majority for the background color
        secondary = used 30% of the time in order to contrast the primary color, mainly as text and image colors
        shades - Used on special occassions to complement the primary or secondary color, it has three versions
*/
/*                                                                  BRIGHT                                                                  */
/*
    These are the list of colors with their respective variable names under the bright theme
    Maximizes the height of the screen it is on
    All labels automatically filters images and labels into a set color, either the accent or the secondary color
*/
:root {
    /* clickable or highlights, 10% */
    --accent: rgba(254, 101, 79, 1);            /* TOMATO */
    /* background colors, 60% */
    --primary: rgba(255, 255, 255, 1);          /* WHITE */
    /* font color, 30% */
    --secondary: rgba(0, 0, 0, 1);              /* BLACK */
    /* shades and borders */
    --shade-light: rgba(118, 123, 145, 1);      /*  */
    --shade-dark: rgba(30, 30, 36, 1);          /*  */
    /* gradient background color */
    --shade-one: rgba(178, 178, 178, 0.1);      /*  */

    height: 100%;

    /*                                                              SVG IMAGES                                                              */
    & .photo {
        /*                                                   filters with secondary color                                                   */
        &.filter-s {
            filter: brightness(0%);     /* SECONDARY [BLACK] */
        }
        /*                                                     filters with accent color                                                    */
        &.filter-a {
            filter: invert(40%) sepia(63%) saturate(5412%) hue-rotate(346deg) brightness(112%) contrast(110%);  /* ACCENT [ORANGEY RED] */
        }
    }

    /*                                                                LABELS                                                                */
    & .label {
        /*                                                   filters with secondary color                                                   */
        &.filter-s {
            filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(279deg) brightness(0%) contrast(105%);     /* SECONDARY [BLACK] */
        }
        /*                                                     filters with accent color                                                    */
        &.filter-a {
            filter: invert(52%) sepia(34%) saturate(4952%) hue-rotate(333deg) brightness(105%) contrast(101%);  /* ACCENT [TOMATO] */
        }
    }
}
/*                                                                   DARK                                                                   */
/*
    These are the list of colors with their respective variable names under the bright theme
    All labels automatically filters black images into the orangey red (dark accent)
*/
:root:has(#theme:checked) {
    /* clickable or highlights, 10% */
    --accent: rgba(255, 64, 35, 1);             /* ORANGEY RED */
    /* background colors, 60% */
    --primary: rgba(0, 0, 0, 1);                /* BLACK */
    /* font color, 30% */
    --secondary: rgba(255, 255, 255, 1);        /* WHITE */
    /* shades and borders */
    --shade-light: rgba(30, 30, 36, 1);         /*  */
    --shade-dark: rgba(118, 123, 145, 1);       /*  */
    /* gradient background color */
    --shade-one: rgba(178, 178, 178, 0.05);     /*  */

    /*                                                              SVG IMAGES                                                              */
    & .photo {
        /*                                                   filters with secondary color                                                   */
        &.filter-s {
            filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(279deg) brightness(103%) contrast(105%);     /* SECONDARY [WHITE] */
        }
        /*                                                     filters with accent color                                                    */
        &.filter-a {
            filter: invert(40%) sepia(63%) saturate(5412%) hue-rotate(346deg) brightness(112%) contrast(110%);  /* ACCENT [ORANGEY RED] */
        }
    }

    /*                                                                LABELS                                                                */
    & .label {
        /*                                                   filters with secondary color                                                   */
        &.filter-s {
            filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(279deg) brightness(103%) contrast(105%);     /* SECONDARY [WHITE] */
        }
        /*                                                     filters with accent color                                                    */
        &.filter-a {
            filter: invert(40%) sepia(63%) saturate(5412%) hue-rotate(346deg) brightness(112%) contrast(110%);  /* ACCENT [ORANGEY RED] */
        }
    }
}
/*                                                                   FONT                                                                   */
/*
    The standard font style and color of all texts
    It uses the Courier New style and the secondary color
*/
@font-face {
    color: var(--secondary);
    font-family: 'Courier New';
    src: url(styles/cour.ttf);
}

* {
    color: var(--secondary);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
/*                                                                BACKGROUND                                                                */
/*
    This design creates an infinite tiling of hexes using the primary and its shade as its colors
*/
.main {
    background-color: var(--primary);
    /* INFINITE HEXES */
    background-image: conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, var(--shade-one) 0.5deg, var(--shade-one) 119.5deg, transparent 119.5deg, transparent 120deg);
    background-position: 0 0, 2.5rem 4.25rem, 0 0, 2.5rem 4.25rem, 2.5rem 0, 0 4.25rem;
    background-size: 5rem 8.5rem;
    min-height: 100%;
    opacity: 0.8;
}
/* =============================================================== ALIGNMENT ============================================================== */
/*                                                                  GENERIC                                                                 */
/*                                                                  for any                                                                 */
/*
    Aligns the element on the side that it mentions
*/
.left {
    justify-self: left !important;
}
.right {
    justify-self: right !important;
}
.top {
    align-self: start !important;
}
.down {
    align-self: end !important;
}
/* =============================================================== HIGHLIGHT ============================================================== */
/*                                                                  GENERIC                                                                 */
/*                                                               for any text                                                               */
/*
    Highlights the text element by changing it to an accent color
    Also adds a selector text that covers the text element if it does not have the no-text class
*/
.selected {
    color: var(--accent);

    &:not(.no-text) {
        &::before {
            content: "> ";
        }

        &::after {
            content: " <";
        }
    }
}
/*                                                                 CLICKABLE                                                                */
/*                                                         for any clickable element                                                        */
/*
    Creates a disabled option for the element
*/
.disabled {
    cursor: default;
    pointer-events: none;
}