/* ================================================================= TEXT ================================================================= */
/*                                                                  HEADER                                                                  */
/*                                                                  for h1                                                                  */
.header {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

}
/*                                                                  TITLE                                                                   */
/*                                                                  for h2                                                                  */
.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
/*                                                                 SUBTITLE                                                                 */
/*                                                                  for h3                                                                  */
.subtitle {
    font-size: 2rem;
    margin: 0;
}
/*                                                                   TEXT                                                                   */
/*                                                                  for p                                                                   */
.text {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
/*                                                                  SUBTEXT                                                                 */
/*                                                                 for p.sub                                                                */
    &.sub {
        font-size: 1rem;
        font-style: italic;
        font-variant: small-caps;
        text-align: justify;
        text-transform: lowercase;
    }
}